In [2]:
from online_retail_simulator import simulate

In [3]:
 simulate("config_rule.json")

,product_id,name,category,price,date,quantity,revenue
0,PROD0001,T-Shirt,Clothing,152.19,2024-11-01,1,152.19
1,PROD0002,Biography,Books,16.98,2024-11-01,1,16.98
2,PROD0003,Jeans,Clothing,124.24,2024-11-01,0,0.00
3,PROD0004,Laptop,Electronics,185.86,2024-11-01,3,557.58
4,PROD0005,Novel,Books,38.06,2024-11-01,1,38.06
...,...,...,...,...,...,...,...
1495,PROD0046,Lamp,Home & Garden,336.68,2024-11-30,0,0.00
1496,PROD0047,Curtains,Home & Garden,273.28,2024-11-30,1,273.28
1497,PROD0048,Chocolate,Food & Beverage,46.80,2024-11-30,1,46.80
1498,PROD0049,Comic,Books,29.95,2024-11-30,1,29.95
1499,PROD0050,Remote Car,Toys & Games,90.97,2024-11-30,3,272.91