In [5]:
import json
from pathlib import Path
from online_retail_simulator.simulator import simulate
from online_retail_simulator.simulator_synthesizer_based import simulate_synthesizer_based


# Use separate configs for rule and synthesizer steps
rule_config_path = "config_rule.json"
synth_config_path = "config_synthsesizer.json"

# Step 1: Run rule-based simulation to get merged DataFrame
merged_df = simulate(rule_config_path, mode="rule")
print(f"Rule-based simulation: {merged_df.shape}")

# Step 2: Generate synthetic data from merged DataFrame
synthetic_df = simulate(synth_config_path, mode="synthesizer", df=merged_df, num_rows=len(merged_df))
print(f"Synthetic DataFrame: {synthetic_df.shape}")

# Optionally, save synthetic data to a file
synthetic_df

============================================================
Online Retail Simulator
============================================================

Configuration:
  Seed:         42
  Products:     50
  Date Range:   2024-11-01 to 2024-11-30
  Output Dir:   demo/output

Generating 50 products...
✓ Generated 50 products

Generating baseline sales records (all product-date combinations)...
✓ Generated 1500 baseline records (product-date pairs)
Data saved to demo/output/rb_demo_products.json
Data saved to demo/output/rb_demo_sales.json

============================================================
Summary
============================================================
Total Products:     50
Product Categories: 8
Total Products:     50
Total Records:      1500 (product-date pairs)
Days Simulated:     30
Total Units Sold:   2051
Total Revenue:      $310,859.51

✓ Simulation complete!
Rule-based simulation: (1500, 7)
============================================================
Training SDV Synthesizer (single-table)
============================================================
Synthesizer Type: gaussian_copula
Input Data: 1500 rows, 7 columns

/home/peisenha/miniconda3/lib/python3.13/site-packages/sdv/single_table/base.py:168: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
/home/peisenha/miniconda3/lib/python3.13/site-packages/sdv/single_table/base.py:134: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

Generating 1500 synthetic rows...
✓ Generated 1500 synthetic rows

✓ Sampling complete!
Synthetic DataFrame: (1500, 7)

,product_id,date,quantity,revenue,name,category,price
0,PROD0036,2024-11-08,3,285.00,Perfume,Health & Beauty,186.28
1,PROD0030,2024-11-20,0,1019.08,Cookbook,Clothing,90.01
2,PROD0019,2024-11-09,2,147.75,Rug,Books,153.79
3,PROD0027,2024-11-25,5,1086.94,Comic,Toys & Games,61.82
4,PROD0023,2024-11-25,0,4.67,Smartphone,Electronics,139.48
...,...,...,...,...,...,...,...
1495,PROD0047,2024-11-04,1,80.47,Dress,Books,160.20
1496,PROD0012,2024-11-03,0,437.65,Hoodie,Books,136.21
1497,PROD0008,2024-11-12,0,1670.08,Mirror,Home & Garden,28.51
1498,PROD0022,2024-11-29,4,221.84,Stuffed Animal,Books,54.37
1499,PROD0021,2024-11-26,1,484.88,Clock,Electronics,537.41