In [1]:
from online_retail_simulator import simulate

In [5]:
df_products, df_sales = simulate("config_synthesizer.json")

FileNotFoundError: Products model not found: demo/output_mc/sdv_demo_model_products.pkl

In [3]:
df_products.head()

  product_id       name     category   price
0   PROD0001    T-Shirt     Clothing  152.19
1   PROD0002  Biography        Books   16.98
2   PROD0003      Jeans     Clothing  124.24
3   PROD0004     Laptop  Electronics  185.86
4   PROD0005      Novel        Books   38.06

In [4]:
df_sales.query("product_id == 'PROD0001'").sort_values("date")

     product_id        date  quantity  revenue
0      PROD0001  2024-11-01         1   152.19
50     PROD0001  2024-11-02         3   456.57
100    PROD0001  2024-11-03         1   152.19
150    PROD0001  2024-11-04         0     0.00
200    PROD0001  2024-11-05         0     0.00
250    PROD0001  2024-11-06         1   152.19
300    PROD0001  2024-11-07         3   456.57
350    PROD0001  2024-11-08         0     0.00
400    PROD0001  2024-11-09         2   304.38
450    PROD0001  2024-11-10         1   152.19
500    PROD0001  2024-11-11         0     0.00
550    PROD0001  2024-11-12         0     0.00
600    PROD0001  2024-11-13         3   456.57
650    PROD0001  2024-11-14         3   456.57
700    PROD0001  2024-11-15         3   456.57
750    PROD0001  2024-11-16         2   304.38
800    PROD0001  2024-11-17         1   152.19
850    PROD0001  2024-11-18         1   152.19
900    PROD0001  2024-11-19         0     0.00
950    PROD0001  2024-11-20         2   304.38
1000   PROD0001  2024-11-21         3   456.57
1050   PROD0001  2024-11-22         2   304.38
1100   PROD0001  2024-11-23         2   304.38
1150   PROD0001  2024-11-24         2   304.38
1200   PROD0001  2024-11-25         4   608.76
1250   PROD0001  2024-11-26         5   760.95
1300   PROD0001  2024-11-27         1   152.19
1350   PROD0001  2024-11-28         2   304.38
1400   PROD0001  2024-11-29         3   456.57
1450   PROD0001  2024-11-30         0     0.00