In [5]:
import json
from pathlib import Path
from online_retail_simulator.simulator import simulate
from online_retail_simulator.simulator_synthesizer_based import simulate_synthesizer_based

# Path to your config file (adjust as needed)
config_path = "config_rule.json"

# Step 1: Run rule-based simulation to get products and sales DataFrames
df = simulate(config_path)
df.head()

============================================================
Online Retail Simulator
============================================================

Configuration:
  Seed:         42
  Products:     50
  Date Range:   2024-11-01 to 2024-11-30
  Output Dir:   demo/output

Generating 50 products...
✓ Generated 50 products

Generating baseline sales records (all product-date combinations)...
✓ Generated 1500 baseline records (product-date pairs)
Data saved to demo/output/rb_demo_products.json
Data saved to demo/output/rb_demo_sales.json

============================================================
Summary
============================================================
Total Products:     50
Product Categories: 8
Total Products:     50
Total Records:      1500 (product-date pairs)
Days Simulated:     30
Total Units Sold:   2051
Total Revenue:      $310,859.51

✓ Simulation complete!

  product_id        date  quantity  revenue       name     category   price
0   PROD0001  2024-11-01         1   152.19    T-Shirt     Clothing  152.19
1   PROD0002  2024-11-01         1    16.98  Biography        Books   16.98
2   PROD0003  2024-11-01         0     0.00      Jeans     Clothing  124.24
3   PROD0004  2024-11-01         3   557.58     Laptop  Electronics  185.86
4   PROD0005  2024-11-01         1    38.06      Novel        Books   38.06

In [7]:
simulate("config_synthesizer.json", df=df)

============================================================
Training SDV Synthesizer (single-table)
============================================================
Synthesizer Type: gaussian_copula
Input Data: 1500 rows, 7 columns

Generating 1500 synthetic rows...

/home/peisenha/miniconda3/lib/python3.13/site-packages/sdv/single_table/base.py:168: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
/home/peisenha/miniconda3/lib/python3.13/site-packages/sdv/single_table/base.py:134: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

✓ Generated 1500 synthetic rows

✓ Sampling complete!

,product_id,date,quantity,revenue,name,category,price
0,PROD0036,2024-11-08,3,285.00,Perfume,Health & Beauty,186.28
1,PROD0030,2024-11-20,0,1019.08,Cookbook,Clothing,90.01
2,PROD0019,2024-11-09,2,147.75,Rug,Books,153.79
3,PROD0027,2024-11-25,5,1086.94,Comic,Toys & Games,61.82
4,PROD0023,2024-11-25,0,4.67,Smartphone,Electronics,139.48
...,...,...,...,...,...,...,...
1495,PROD0047,2024-11-04,1,80.47,Dress,Books,160.20
1496,PROD0012,2024-11-03,0,437.65,Hoodie,Books,136.21
1497,PROD0008,2024-11-12,0,1670.08,Mirror,Home & Garden,28.51
1498,PROD0022,2024-11-29,4,221.84,Stuffed Animal,Books,54.37
1499,PROD0021,2024-11-26,1,484.88,Clock,Electronics,537.41

In [5]:
merged_df.head(5)

  product_id        date  quantity  revenue       name     category   price
0   PROD0001  2024-11-01         1   152.19    T-Shirt     Clothing  152.19
1   PROD0002  2024-11-01         1    16.98  Biography        Books   16.98
2   PROD0003  2024-11-01         0     0.00      Jeans     Clothing  124.24
3   PROD0004  2024-11-01         3   557.58     Laptop  Electronics  185.86
4   PROD0005  2024-11-01         1    38.06      Novel        Books   38.06

In [9]:
synthetic_df["category"].value_counts()

category
Clothing             109
Sports & Outdoors     93
Books                 78
Toys & Games          50
Health & Beauty       37
Home & Garden         33
Food & Beverage       28
Electronics           22
Name: count, dtype: int64

In [10]:
merged_df["category"].value_counts()

category
Clothing             105
Books                 90
Sports & Outdoors     75
Home & Garden         45
Toys & Games          45
Electronics           30
Food & Beverage       30
Health & Beauty       30
Name: count, dtype: int64